.srh-home {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: var(--srh-bg-dark);
}

@media screen and (max-width: 900px) {
  .srh-home {
    flex-direction: column;
    padding-bottom: 2em;
  }
}
