.srh-profile {
  width: 45%;
  max-width: 45em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 3em 20px 1em;
  position: sticky;
  top: 0;
  margin: 0;
  overflow-y: scroll;
}
.srh-profile .profile-info {
  background: black;
  position: relative;
  width: 100%;
  height: auto;
}
/* .srh-profile-img {
  
} */
.srh-profile-img {
  height: 350px;
  width: 350px;
  background: black;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.srh-profile-img img, .srh-profile-img video {
  /* width: 350px; */
  height: 350px;
  background: inherit;
  animation: showup 400ms linear;
  position: absolute;
}

@keyframes showup {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.srh-profile .srh-name {
  width: 100%;
  text-align: right;
  margin-bottom: 0;
  font-family: var(--srh-font-name);
  font-size: 50px;
  color: white;
}

.srh-profile .srh-name span {
  font-size: 40px;
  color: var(--srh-text-primary-light-dark);
}

.srh-profile .srh-aboutme {
  text-align: right;
  font-size: 1.2em;
  color: var(--srh-text-description-dark);
  font-family: 'Chelsea Market', cursive;
}

.srh-profile .srh-my-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .srh-profile {
    position: relative;
    width: 100%;
    max-width: unset;
    height: auto;
    padding: 0;
    align-items: center;
  }
  .srh-profile-img img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  .srh-profile-img {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .srh-profile .srh-name {
    margin: .5em 0 .3em 0;
    text-align: center;
  }
  .srh-profile .profile-info {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
    margin-top: -1.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .srh-profile .srh-my-links {
    justify-content: center;
    width: 100%;
    z-index: 1;
    margin-top: -2.5em;
  }
  .srh-profile .srh-aboutme {
    text-align: center;
  }
}