.srh-profile {
  width: 45%;
  max-width: 45em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 1em 3em 0 1em;
  /* background: var(--srh-grey-light); */
  /* border-right: 1px solid var(--srh-grey-light) ; */
}

.srh-profile-img img {
  width: 350px;
  height: 350px;
  background: var(--srh-grey-light);
  pointer-events: none;
}

.srh-profile .srh-name {
  text-align: right;
  margin-bottom: 0;
  font-family: var(--srh-font-name);
  font-size: 50px;
}

.srh-profile .srh-name span {
  font-size: 40px;
  color: var(--srh-text-primary-light);
}

.srh-profile .srh-aboutme {
  text-align: right;
  font-size: 1.2em;
  color: var(--srh-text-description);
  font-family: 'Chelsea Market', cursive;
}

.srh-profile .srh-my-links {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .srh-profile {
    width: 100%;
    max-width: unset;
    height: auto;
    padding: 1em;
    align-items: center;
  }
  .srh-profile .srh-aboutme {
    text-align: center;
  }
}