.srh-link {
  font-weight: bold;
  font-size: 1.7em;
  padding: .5em;
  border-radius: 10px;
  /* background: var(--srh-grey-light); */
  height: max-content;
  width: max-content;

  transition: var(--srh-transi-bg);
  -o-transition: var(--srh-transi-bg);
  -moz-transition: var(--srh-transi-bg);
  -webkit-transition: var(--srh-transi-bg);
  outline: none;
}

.srh-link:hover, .srh-link:focus {
  background: var(--srh-grey-light);
}

.srh-link-img {
  height: 20px;
}

.srh-link-opico, .srh-link-ct, .srh-link-github {
  margin-left: .5em;
  margin-top: -.5em;
  /* color: white !important; */
}

@media screen and (max-width: 900px) {
  .srh-link-opico, .srh-link-ct, .srh-link-github {
    margin-left: .1em;
    /* color: white !important; */
  }
}
/*
.srh-link-opico {
  background:#8b4eb7;
}
.srh-link-opico:hover {
  background:#6f3599;
}

.srh-link-ct {
  background: rgb(37, 141, 141);
}
.srh-link-ct:hover {
  background: rgb(19, 110, 110);
} */