.srh-link {
  font-weight: bold;
  font-size: 1.7em;
  padding: 10px;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: var(--srh-transi-bg);
  -o-transition: var(--srh-transi-bg);
  -moz-transition: var(--srh-transi-bg);
  -webkit-transition: var(--srh-transi-bg);
  outline: none;
}

.srh-link:hover, .srh-link:focus {
  background: var(--srh-grey-light-dark);
}

.srh-link-img {
  height: 25px;
  border-radius: 2px;
}

.srh-link-logo {
  margin-top: -5px;
  margin-left: .2em;
  background-color: rgba(70, 70, 70, 0.356);
}
.srh-link-icon {
  background: var(--srh-grey-light-dark);
  margin-top: .5em;
  width: 40px;
  overflow: hidden;
  height: 40px;
  margin-left: .5em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;

  transition: var(--srh-transi-width);
  -o-transition: var(--srh-transi-width);
  -moz-transition: var(--srh-transi-width);
  -webkit-transition: var(--srh-transi-width);
}

.srh-link-icon i {
  display: block;
  font-size: 25px !important;
  margin: 0 !important;
}
.srh-link-icon span {
  margin-left: 10px !important;
}

@media screen and (max-width: 900px) {
  .srh-link-opico, .srh-link-ct, .srh-link-github {
    margin-left: 0em;
    /* color: white !important; */
  }
}
/*
.srh-link-opico {
  background:#8b4eb7;
}
.srh-link-opico:hover {
  background:#6f3599;
}

.srh-link-ct {
  background: rgb(37, 141, 141);
}
.srh-link-ct:hover {
  background: rgb(19, 110, 110);
} */