.srh-proj-card {
  max-width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.srh-card-uni {
  /* background: var(--srh-grey-light);
  padding: 1em; */
  border-radius: 15px;
  margin-top: 0em;
  align-items: flex-end;
}
.srh-card-uni p, .srh-card-uni h2 {
  text-align: right;
}

.srh-proj-card .proj-header {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.srh-proj-card .proj-title {
  font-size: 3em;
  /* font-weight: bold; */
  font-family: var(--srh-font-primary);
  /* color: rgb(12, 85, 85); */
}
.srh-proj-card .proj-role {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--srh-text-primary-light);
  font-family: var(--srh-font-primary);
  margin: 0 !important;
  padding: 0 !important;
}

.srh-proj-card .proj-description {
  margin: 0 !important;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--srh-text-description);
  font-family: var(--srh-font-primary);
  /* padding: .2em;
  background: var(--srh-grey-light);
  border-radius: 15px; */
}

@media screen and (max-width: 900px) {
  .srh-card-uni {
    align-items: flex-start;
  }
  .srh-card-uni p, .srh-card-uni h2 {
    text-align: left;
    /* font-size: 1.5em !important; */
  }
  .srh-proj-card .proj-header {
    display: flex;
    flex-direction: row; 
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  /* .srh-proj-card:hover {
    
  } */
}