html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--srh-bg-dark);
  font-family: var(--srh-font-primary);
  color: var(--srh-text-primary);
  font-size: 0.875rem !important;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

::-webkit-scrollbar {
  display: none;
}
