:root {
  /* Background */
  --srh-bg-light: #fcfcfc;
  --srh-bg-dark: black;
  --srh-grey-light: rgb(243, 243, 243);
  --srh-grey-light-dark: rgb(70, 70, 70);

  /* Font */
  --srh-font-narrow: 'Roboto Condensed', sans-serif;
  --srh-font-primary: 'Titillium Web', sans-serif;
  /* --srh-font-primary: 'Roboto', sans-serif; */
  --srh-font-name: 'Chelsea Market', cursive;
  /* Color */
  --srh-text-primary: #383838;
  --srh-text-primary-dark: #f3f3f3;
  --srh-text-primary-light: #4e4e4e;
  --srh-text-primary-light-dark: #a5a5a5;
  --srh-text-description: #666666;
  --srh-text-description-dark: #d4d4d4;
  --srh-green-light: rgb(0, 255, 213);

  /* border */
  --srh-border-primary: #d1d1d1 solid 1px;
  --srh-border-primary-dark: #535353 solid 1px;

  /* Transition */
  --srh-transi-bg: background .2s linear;
  --srh-transi-color: color .2s linear;
  --srh-transi-border: border .2s linear;
  --srh-transi-width: width .2s linear;
  --srh-transi-height: height .2s linear;
  --srh-transi-transform: transform .2s linear;
  --srh-transi-all: all .2s linear;
}

.srh-home button {
  background: none;
  color: white;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  /* width: max-content; */
  outline: none !important;
}

.srh-home a {
  color: rgb(0, 195, 255);
}
.srh-home a:hover {
  color: rgb(0, 247, 255);
  /* text-decoration: underline; */
}
.srh-home a:focus {
  outline-color: rgb(0, 247, 255);
  outline-style: solid;
  outline-width: 1px;
}

.d-col {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.d-row {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.w-100 {
  position: relative;
  width: 100%;
}
.h-100 {
  position: relative;
  height: 100%;
}
.w-60 {
  position: relative;
  width: 60%;
}
.w-40 {
  position: relative;
  width: 40%;
}

.d-end {
  justify-content: end;
  align-items: flex-end;
}
/* .uofi {
  border-radius: 10px;
  background-color: #0455A4;
  color: #E84A27;
  color: #0455A4;
  padding: 0em .2em;
} */

@keyframes show {
  0% { max-height: 0em; opacity: 0; }
  100% { max-height: 70em; opacity: 1; }
}